@reference "../globals.css";

.container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: -1;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  will-change: auto;
}


